name: Actions Workflow

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Login Docker Hub
        uses: docker/login-action@v1.14.1        
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: build and push to docker
        uses: docker/build-push-action@v2.10.0
        with:
          context: .
          push: true
          tags: darovero/ghaction:latest, darovero/ghaction:${{ github.run_number }}
