name: Container test

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3
      - name: Login to docker hub
      - name: build and push to docker
        uses: docker/login-action@v1.14.1